<footer class="footer">
  <div class="container text-right">
    <div class="col-lg-12">
      <p>
      {%- for item in footer -%}
      <a href="{{ item.link }}"
        {%- if item.properties -%}
          {%- for propertyName, property in item.properties -%}
            {{ propertyName }}="{{ property }}"
            {%- endfor -%}
          {%- endif -%}
          ><i class="fa fa-{{ item.icon }} fa-lg"></i>
        </a>
        {%- endfor -%}
        Created by hs-sil team | Bootstrap template
        <a href='http://bootswatch.com/'>bootswatch.com</a>
	| site runs on
	<a href='http://www.vultr.com/?ref=6819909'>www.vultr.com</a>
        </p>
      </div>
    </div>
  </footer>
