<div class="head-bg magic-links">
  <a href="#">
    <img src="assets/logo.png" class="center-block" />
  </a>
</div>
<header>
    <div class="container">
        <ul class="nav nav-pills pull-right row">
            <!--- plz normal links -->
            <li><a class="magic-link" href="http://localhost:8080/deploy/index.html">Test dynamic load</a></li>
            <li><a class="magic-link" href="#temp-page">Page</a></li>
            <li><a class="magic-link" href="#temp-about">O nas</a></li>
            <li><a class="magic-link" href="#temp-place">Miejsce</a></li>
            <li><a class="magic-link" href="#temp-community">Społeczności</a></li>
            <li><a class="magic-link" href="#temp-calendar">Kalendarz</a></li>
            <li><a class="magic-link" href="#temp-gallery">Galeria</a></li>
            <li><a class="magic-link" href="#temp-partners">Partnerzy</a></li>
            <li><a class="magic-link" href="#temp-contact">Kontakt</a></li>
        </ul>
    </div>
</header>
