<div class="col-sm-5 col-sm-offset-1">
  <h3 class='text-center'>Aktualności</h3>
  <ul class='news'>
    <li>
      <a href='http://pajacyk.pl'>
        <time>18 Dec 2014</time>
        Socek atakuje 2: ostateczna bitwa
      </a>
    </li>
    <li>
      <a href='http://pajacyk.pl'>
        <time>17 Dec 2014</time>
        Socek atakuje
      </a>
    </li>
    <li>
      <a href='http://pajacyk.pl'>
        <time>16 Dec 2014</time>
        Socek atakuje
      </a>
    </li>
    <li>
      <a href='http://pajacyk.pl'>
        <time>15 Dec 2014</time>
        Socek atakuje
      </a>
    </li>
  </ul>
</div>