<div class="section" id='temp-page'>
  <div class='row'>
    <div class="col-sm-6">
      <h3 class='text-center'>O nas</h3>
      <a class="well" href="http://pysilesia.org/">
        <img src="assets/pysilesia.png" alt="Pysilesia">
      </a>
      <p><strong>Hackerspace</strong> jest to społeczność kreatywnych ludzi z różnych obszarów zainteresowań związanych z technologiami, którzy spotykają się w wspólnym miejscu, gdzie mogą tworzyć, integrować się oraz realizować zwariowane projekty.</p>
      <p><strong>Hackerspace Silesia</strong> tworzą ludzie z całego województwa śląskiego i nie tylko. Jeżeli chcesz zobaczyć co robimy, oraz jak działamy to zapraszamy Ciebie na nasze czwartkowe spotkania o godzinie 18.00.</p>
    </div>
    {% include "templates/news.html" %}
  </div>
</div>