<div class="container body" id='temp-about'>
    <div class='row'>
        <div class="col-sm-6">
            <h3 class='text-center'>O nas</h3>
            <p><strong>Hackerspace</strong> jest to społeczność kreatywnych ludzi z różnych obszarów zainteresowań związanych z technologiami, którzy spotykają się w wspólnym miejscu, gdzie mogą tworzyć, integrować się oraz realizować zwariowane projekty.</p>

            <p><strong>Hackerspace Silesia</strong> tworzą ludzie z całego województwa śląskiego i nie tylko. Jeżeli chcesz zobaczyć co robimy, oraz jak działamy to zapraszamy Ciebie na nasze czwartkowe spotkania o godzinie 18.00.</p>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <h3 class='text-center'>Aktualności</h3>
            <ul class='news'>
                <li>
                    <a href='http://pajacyk.pl'>
                        <time>18 Dec 2014</time>
                        Socek atakuje 2: ostateczna bitwa
                    </a>
                </li>
                <li>
                    <a href='http://pajacyk.pl'>
                        <time>17 Dec 2014</time>
                        Socek atakuje
                    </a>
                </li>
                <li>
                    <a href='http://pajacyk.pl'>
                        <time>16 Dec 2014</time>
                        Socek atakuje
                    </a>
                </li>
                <li>
                    <a href='http://pajacyk.pl'>
                        <time>15 Dec 2014</time>
                        Socek atakuje
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>