<html>
  <head>
    {% include "templates/head.html" %}
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    {% include "templates/header.html" %}
    <div class="container" id="content-main">
      {% include "templates/about.html" %}
      {% include "templates/place.html" %}
      {% include "templates/community.html" %}
      {% include "templates/calendar.html" %}
      {% include "templates/gallery.html" %}
      {% include "templates/partners.html" %}
      {% include "templates/contact.html" %}
      {% include "templates/page.html" %}
    </div>
    {% include "templates/footer.html" %}
    {% include "templates/loader.html" %}
    <!-- bower:js -->
    <!-- endbower -->
    <script src="js/scripts.min.js"></script>
  </body>
</html>